{% load i18n %}
<html>
    <head>
        <title>Mandriva Server Setup</title>  
        <script src="{{ MEDIA_URL }}js/prototype.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/scriptaculous/scriptaculous.js?load=effects" type="text/javascript"></script>
        <link type="text/css" title="mss" media="screen" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <script type="text/javascript">
            Event.observe(window, 'load', function() {
                if ($("back")) {
                    $("back").observe('click', function() {
                        history.back();
                    });
                }
                $$('span.actions').each(function(i) {
                    Event.observe(i, 'mouseover', function() {
                        var menu = $(this).firstDescendant();
                        if (menu) {
                            menu.setStyle({ left: this.offsetLeft+'px' });
                            menu.show();
                        }
                    });
                    Event.observe(i, 'mouseout', function() {
                        var menu = $(this).firstDescendant();
                        if (menu) {
                            menu.hide();
                        }
                    });
                });
                $$('input.action').each(function(i) {
                    Event.observe(i, 'click', function() {
                        label = $(this).up().up().up().previous('label');
                        input = $(this).up().up().up().previous('input');
                        if (this.checked) {
                            label.removeClassName("configured");
                            input.disabled = false;
                        }
                        else {
                            label.addClassName("configured");
                            input.disabled = true;
                        }
                    });
                });
            });
            var show_log = false;
            toggleLog = function(button) {
                var button = $(button);
                var log = button.up().next(".log");
                Effect.toggle(log, 'blind', { duration: 0.4 });
                if(log.style.display == "none") {
                    button.value = "{% trans "Hide log" %}";
                    show_log = true;
                }
                else {
                    button.value = "{% trans "Show log" %}";
                    show_log = false;
                }
                if(updater)
                    updater.options.parameters = {'show_log': show_log};
            }
        </script>
        <div id="head">
            <div id="logo">
                <a href="/" class="logo"><img src="{{ MEDIA_URL}}img/mandriva-logo-opt.png" height="32px" /> Mandriva Server Setup 2.0 beta</a>
            </div>
            <div id="quickbar">
                <div id="quick-personal">
                {% if user.is_authenticated %}
                    {% block head %}<a href="{% url logout %}">{% trans "Logout" %}</a>{% endblock %}
                {% endif %}
                </div>
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
