{% load i18n %}{% ifnotequal code 2000 %}<script type="text/javascript">
    updater.stop();
    scrollLog();
    {% ifequal code 0 %}
        $("task").update("{% trans "Installation succeded." %}");
        $("next").value = "{% trans "Continue" %}";
        $$("#mss input").each(function(i){ i.disabled = false; });
    {% endifequal %}
    {% ifnotequal code 0 %}
        $("task").update("{% trans "Installation failed." %}");
        {% ifequal code 13 %}
            $("task").update("{% trans "Installation failed. You should update your medias (urpmi.update -a)." %}");
        {% endifequal %}
        {% ifequal code 14 %}
            $("task").update("{% trans "Installation failed. You should update your medias (urpmi.update -a)." %}");
        {% endifequal %}
        $("next").value = "{% trans "Can't continue" %}";
        $("back").disabled = false;
    {% endifnotequal %}
    // reload package list after install
    new Ajax.Request("{% url reload_packages %}");
</script>{% endifnotequal %}{{ output }}<script>scrollLog();</script>
