include README LICENCE
recursive-include bin *
recursive-include mss *
recursive-include etc *
recursive-include modules *
recursive-exclude doc *
recursive-exclude dist *
recursive-exclude mss.egg-info *
