include README LICENCE
graft bin
graft etc
graft mss
graft modules

# mbs2 disabled modules
prune modules/eva
prune modules/mds_kerberos
prune modules/mds_audit
prune modules/mds_smb
prune modules/zarafa
prune modules/egroupware

# wip modules
prune modules/pulse2_deployment
prune modules/pulse2_imaging
prune modules/pulse2_inventory
prune modules/asterisk

# paid modules
prune modules/libvirt
prune modules/squid
prune modules/owncloud
prune modules/davical
prune modules/openvpn

# online only modules
prune modules/mbs_repo_updates
