/* GENERAL */

* {
    font-family: "Droid Sans", Arial, sans-serif;
    font-size: 12px;
    color: #222;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;    
}

h1 { font-size: 16px; }
h2 { font-size: 18px; color: #21449C; }
h3 { font-size: 14px; }

form {
    margin-bottom: 0;
}

a {
    color: #464979;
}

a:hover {
    font-weight: bold;
}

/* LAYOUT */

body {
    margin: 0;
    background: white url(../img/top-bg-blue-gradient.png) repeat-x;
}

div#content {
    margin: 10px;
    padding: 10px;
}

div#content h1 {
    color: white;
    margin-top: -5px;
    text-shadow:0 1px 2px #777;
    margin-bottom: 20px;
}
div#content h1 a {
    color: #777;
    font-size: 16px;
}

div#content h1 span {
    font-size: 16px;
    color: #777;
    background: white;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow:0 1px 2px #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#content h1 span.active {
    color: #21449C;
}

div#head {
    font-size: 0.9em;
    color: #2854B0;
    text-shadow:0 1px 2px #FFFFFF;
}
div#head a { 
    color: #2854B0;
    text-shadow:0 1px 2px #FFFFFF;
}

div#head div#logo a {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 32px;
    line-height: 32px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;  
    text-shadow: 0 1px 2px #ddd;
}
div#head div#logo a img {
    border: 0;
    margin-bottom: -2px;
}

div#head div#quickbar {
    padding-left: 1em; 
    /*border-bottom: 1px solid white;*/
    height:44px;
    padding-bottom:5px;
    padding-left:1em;
}

div#head div#quick-personal {
    float: right;
    padding: 7px;
    background: white;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius-bottomleft: 10px;
    border: 1px solid #aaa;
    border-width: 0 0 1px 1px;
}

div#status {
    position: fixed;
    bottom: -1px;
    left: 0;
    background: white;
    height: 0px;
    width: 100%;
    line-height: 22px;
    padding-left: 5px;
    border-top: 1px solid #2854B0;
    color: #2854B0;
}

div#status.active {
    background: white url('../img/load.gif') no-repeat 5px;
    padding-left: 40px;
    padding-bottom: 2px;
    border-top: 1px solid #2854B0;
    color: #2854B0;    
}

div#status.error {
    background: white url('../img/loaderr.gif') no-repeat 5px;
    padding-left: 40px;
    padding-bottom: 2px;
    border-top: 1px solid #D72828;
    color: #D72828;
}

/* Blocks */

div.block {
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: white;
    margin-bottom: 10px;
}

div.block-height {
    min-height: 250px;
}

div.block-border {
    border: 1px solid #ccc;
}

div.block-3 {
    float: left;
    width: 30%;
}

div.block-2 {
    float: left;
    width: 47%;
    margin-right: 1%;
}

div.block-clear {
    clear: left;
}

div.block-last {
    margin-right: 0;
}

div.block-center {
    margin: auto;
    width: 35%;
}

div.block-logo {
    float: left;
    width: 50px;
    text-align: center;
    margin-top: 5px;
    margin-left: -5px;
}

div.block-content {
    margin-left: 45px;
}

div.block h2, div.block h3 {
    margin: 0px;
}

div.block h3 {
    margin-top: 10px;
}

div.block p.help {
    color: #555;
    margin: 0;
    font-size: 10px;
}

div.block p.help strong {
    color: #666;
}

div.block p.desc {
    color: #555;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

div.block div.head {
    margin-bottom: 10px;
}

div.block div.detail p.desc {
    margin-left: 22px;
    margin-bottom: 5px;
}

div.block div.detail p.more {
    margin-top: 10px;
}

div.block div.detail p.more a {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background: #E8EFFA;
    border:1px solid #C1D5F1;
    font-weight:bold;
    margin-right:5px;
    padding:3px;
    text-decoration: none;
}
div.block div.detail p.more a:hover {
    background: #57749F;
    border:1px solid #415370;
    color: white;
}

div.block div.detail input {
    margin: 0;
    vertical-align: bottom;
    margin-bottom: 1px;
    margin-right: 5px;
}

div.disabled { background: #eee; }
div.disabled p.desc, div.disabled a { color: #999; }
div.disabled h2 { color: #888; }
div.disabled img { opacity: 0.5; }

div.push {
    margin-left: 10px;
}

input {
    border: 1px solid #7683BC;
    background: white;
    padding-left: 2px;
}

input[type="button"], input[type="submit"] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 4px;
    background: white url(../img/btn_bg.png) repeat-x bottom;
    text-shadow: 0 1px 1px #fff;
}

input:hover {
    background: #4B62AB;
    color: white;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background: white url(../img/btn_bg_o.png) repeat-x bottom;
    color: #222;
}

input[type="button"]:active, input[type="submit"]:active {
    background: white url(../img/btn_bg_a.png) repeat-x top;
    color: #222;
}

input:disabled, input:disabled:hover {
    background: #AAA;
    color: #666;
    border: 1px solid #888;
}

input.error {
    border: 1px solid #D72828;    
}

span.error, p.error, span.require {
    color: #D72828;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

div.validation {
    clear: both;
    margin-top: 10px;
    /*border-top: 1px dotted #999;*/
    padding-top: 10px;
}

div.right {
    text-align: right;
}

fieldset {
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #ccc;
}

fieldset legend {
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    padding-right: 4px;
}

img.field {
    vertical-align: bottom;
    padding-left: 5px;
}

img.legend {
    vertical-align: bottom;
    padding-right: 4px;
    padding-left: 2px;
    opacity: 0.8;
}

/* Log display */

div.install .log {
    height: 200px;
    border: 1px solid #aaa;    
    overflow: auto;
    margin-top: 10px;
    white-space: pre-wrap;
    background: #222;
    color: white;
    font-family: monospace;
    font-size: 11px;    
}

div.log span {
    color: #ddd;
    font-family: monospace;
    font-size: 11px;
}
div.log span.error { 
    color: #FFDADF;
}
div.log span.warning {
    color: #FFD365;
}
div.log span.summary {
    font-weight: bold;
    color: white;
}

div.summary h3 { color: #21449C; }
div.warnings h3 { color: #E09200; }
div.errors h3 { color: #E0000D; }
div.summary h3, div.warnings h3, div.errors h3 {
    margin: 0;
}
div.summary, div.warnings, div.errors {
    margin: 10px;
    padding-left: 10px;
}
div.summary { border-left: 2px dotted #21449C; }
div.warnings { border-left: 2px dotted #E09200; }
div.errors { border-left: 2px dotted #E0000D; }

.field_multi {
    margin-top: 2px;
}

.configured {
    color: #21449C;
}
.conflict {
    color: #E0000D;
}

span.actions {
   border: 1px solid #ddd;
   background: #eee;
   padding: 2px;
   padding-left: 4px;
   padding-right: 4px;
   margin-left: 5px;
   cursor: pointer;
}

div.actions {
    position: absolute;
    margin-top: 2px;
    border: 1px solid #ddd;
    background: #eee;
}

div.action {
    padding: 2px;
}

div.action input, div.action img {
    margin: 0;
    vertical-align: bottom;
}

/*label {
    float: left;
    width: 170px;
    text-align: right;
    padding-right: 7px;
}
.field_multi {
    clear: left;
    float: left;
    margin-left: 177px;
    margin-top: 5px;
}
.spacer {
    clear: left;
}*/
