{% load i18n %}
{% ifequal code 2000 %}
<p class="task"><img src="/site_media/img/load.gif" /> {% trans "Please wait..."%}</p>
{% endifequal %}
{% ifnotequal code 2000 %}
    {% ifequal code 0 %}
        <p class="task">{% trans "Configuration succeded." %}</p>
        <script type="text/javascript">
            new Ajax.Request('/mss/config/end/'+modules[current_module]+'/', {
                method: 'get',
            });
        </script>
    {% endifequal %}    
    {% ifnotequal code 0 %}
        <p class="task">{% trans "Configuration failed." %}</p>
        <script type="text/javascript">
            $$("#mss input").each(function(i){ i.disabled = false; });
            $('next').value = "{% trans "Home page" %}";
        </script>
    {% endifnotequal %}
    {% if infos.summary %}
    <div class="summary">
        <h3>{% trans "Configuration summary" %}</h3>
        {% for line in infos.summary %}
        <p>{{ line|safe }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if infos.warnings %}
    <div class="warnings">
        <h3>{% trans "Configuration warnings" %}</h3>
        {% for line in infos.warnings %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if infos.errors %}
    <div class="errors">
        <h3>{% trans "Configuration errors" %}</h3>
        {% for line in infos.errors %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <script type="text/javascript">
        updater.stop();
        scrollLog();
        {% ifequal code 0 %}
            nextmodule();
        {% endifequal %}
    </script>
{% endifnotequal %}
<div class="log_button">
    <input type="button" value="{% ifequal request.GET.show_log "false" %}{% trans "Show log" %}{% endifequal %}{% ifequal request.GET.show_log "true" %}{% trans "Hide log" %}{% endifequal %}" onclick="toggleLog(this)"/>
</div>
<div class="log" {% ifequal request.GET.show_log "false" %}style="display: none;"{% endifequal %}>{% for code, line in output %}<span 
{% ifequal code "1" %}class="warning"{% endifequal %}
{% ifequal code "2" %}class="error"{% endifequal %}
{% ifequal code "7" %}class="summary"{% endifequal %}
{% ifequal code "8" %}class="summary"{% endifequal %}
>{{ line }}</span>
{% endfor %}</div>
<script type="text/javascript">scrollLog();</script>
