{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% if sections %}
    {% for section in sections %}
    <div class="block block-border {{ section.conf.class }}">
        <div class="block-logo">
            {% if section.icon %}
            <img src="{{ MEDIA_URL }}img/modules/{{ section.icon }}" />
            {% endif %}
        </div>
        <div class="block-content">
            <h2>{% trans section.name %}</h2>
            <p class="desc">{% blocktrans with section.desc|safe as desc %}{{ desc }}{% endblocktrans %}</p>
        </div>
        <form name="mss" action="{% url section section.id %}" method="post">
            <div class="validation right">
                <input type="hidden" name="name" value="{{ section.name }}" />
                <input type="submit" name="continue" value="{% trans "Enter" %}" />
            </div>
        </form>
    </div>
    {% endfor %}
{% else %}
    <div class="block block-height">
        <p class="error">{% trans "No modules for Mandriva Server Setup installed." %}</p>
        <p>{% trans "Check for mss-modules-* packages." %}</p>
    </div>
{% endif %}
{% endblock %}

