{% load i18n %}

<h2>Zarafa on Mandriva Enterprise Server 5</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum sodales libero, id commodo enim pellentesque sit amet. Proin convallis quam vitae dui blandit vel facilisis lectus interdum. Nulla facilisi. Vestibulum tortor orci, vehicula nec faucibus quis, vestibulum a sapien. Vivamus ullamcorper bibendum urna vitae commodo. Nunc rhoncus odio at libero eleifend eget dapibus est vestibulum. Vestibulum tempor vehicula augue, pharetra volutpat mauris consequat a. Aenean ut nunc mauris, et tincidunt ante. Ut at mauris tellus, eu posuere lectus. Praesent varius nibh nec diam lacinia eleifend. Etiam ullamcorper nunc id risus tincidunt pulvinar. Mauris mi mi, varius id tincidunt quis, sagittis sit amet sapien. Ut at leo quam, in sodales mi. Aenean nec dictum leo. Integer at felis nibh. Nulla nisl odio, accumsan at viverra eget, aliquet ut diam.</p>

<h2>Mandriva Server Setup configuration</h2>

<p>MSS will help you to install and configure Zarafa easily.</p>

<img src="{{ MEDIA_URL }}img/modules/commercial/screen_zarafa_01.png" />

<h2>Zarafa Webaccess</h2>

<p>An overview of the Zarafa web interface.</p>


