[Desktop Entry]
Version=2.0dev
Encoding=UTF-8
Name=Mandriva Server Setup 
Comment=Mandriva Server Setup
Exec=firefox %u file:///usr/share/mss/html/first_time.html
Icon=/usr/share/pixmaps/mss.png
Terminal=false
Type=Application
StartupWMClass=firefox-bin
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;
Categories=Settings;
