[Desktop Entry]
Version=2.0dev
Encoding=UTF-8
Name=Mandriva Server Setup 
Comment=Mandriva Server Setup
Exec=firefox %u https://127.0.0.1:7002/
Icon=/usr/share/pixmaps/mss-wizard.png
Terminal=false
Type=Application
StartupWMClass=Firefox-bin
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;
Categories=Settings;
