{% load i18n %}
<html>
    <head>
        <title>Mandriva Server Setup</title>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="{{ MEDIA_URL }}js/prototype.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/scriptaculous/scriptaculous.js?load=effects" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/global.js" type="text/javascript"></script>
        <link type="text/css" title="mss" media="screen" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <script type="text/javascript">
            // show/hide log function for install/config pages
            var show_log = false;
            toggleLog = function(button) {
                var button = $(button);
                var log = button.up().next(".log");
                Effect.toggle(log, 'blind', { duration: 0.4 });
                if(log.style.display == "none") {
                    button.value = "{% trans "Hide log" %}";
                    show_log = true;
                }
                else {
                    button.value = "{% trans "Show log" %}";
                    show_log = false;
                }
                if(updater)
                    updater.options.parameters = {'show_log': show_log};
            }

            // launch medias update
            updateMedias = function() {
                new Ajax.Request('{% url update_medias %}', { method: 'get' });
            }

            // long polling for status bar
            updateStatus = function(force) {
                new Ajax.Updater($('status'), '{% url status %}', {
                    'method': 'get',
                    'parameters': {'force': force},
                    onComplete: function(transport) {
                        // hide status on Ready state
                        if (transport.responseText.startsWith('{% trans "Ready" %}')) {
                            if ($('status').hasClassName("active")) {
                                $('status').removeClassName("active");
                                new Effect.Morph('status', {
                                    duration: 0.3,
                                    delay: 1,
                                    style: 'height: 0px;'
                                });
                            }
                        }
                        // show status bar on activity
                        else if (transport.status == 200) {
                            $('status').addClassName("active");
                            $('status').removeClassName("error");
                            new Effect.Morph('status', {
                                duration: 0.3,
                                style: 'height: 22px;'
                            });
                        }
                        
                        // set error style if error
                        if (transport.status == 400) {
                            $('status').addClassName("error");
                            // refresh every 2s on error
                            setTimeout('updateStatus(false)', '2000');
                            new Effect.Morph('status', {
                                duration: 0.3,
                                style: 'height: 22px;'
                            });                            
                        }
                        else {
                            // immediately refresh when no error
                            updateStatus(false);
                        }
                    }
                });
            }        
        </script>
        <div id="head">
            <div id="logo">
                <a href="/" class="logo"><img src="{{ MEDIA_URL}}img/mandriva-logo-opt.png" height="32px" /> Mandriva Server Setup 2.0dev</a>
            </div>
            <div id="quickbar"> 
                {% if user.is_authenticated %}
                <div id="quick-personal">
                    {% if not mes_media %}
                    <form id="media_mes" method="post" action="{% url medias %}">
                        <input type="hidden" name="media_name" value="mes5" />
                        <input type="hidden" name="media_verbose_name" value="Mandriva Enterprise Server" />
                        <input type="hidden" name="media_proto" value="https" />
                        <input type="hidden" name="media_url" value="download.mandriva.com/EnterpriseServer5/rpms/i586" />
                        <input type="hidden" name="media_mode" value="distrib" />
                        <input type="hidden" name="media_auth" value="my" />
                    </form>
                    <a href="#" onclick="$('media_mes').submit()" class="pop error warning" alt="{% trans "You don't have the Mandriva Enterprise Server medias. Please add the medias before using Mandriva Server Setup." %}">{% trans "Add medias" %}</a> |
                    {% endif %}
                    <a href="#" class="pop" alt="{% trans "Update packages list on your server." %}" onclick="updateMedias();">{% trans "Update medias" %}</a> | 
                    {% include 'language_form.html' %} | 
                    <a href="{% url logout %}">{% trans "Logout" %}</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="status">
        </div>
        <div id="popup" style="display: none">
        </div>
    </body>
</html>
