{% load i18n %}
<html>
    <head>
        <title>Mandriva Server Setup</title>  
        <script src="{{ MEDIA_URL }}js/prototype.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/scriptaculous/scriptaculous.js?load=effects" type="text/javascript"></script>
        <link type="text/css" title="mss" media="screen" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <script type="text/javascript">
            Event.observe(window, 'load', function() {
                if ($("back")) {
                    $("back").observe('click', function() {
                        history.back();
                    });
                }
                $$(".disabled input").each(function(i){ i.disabled = true; });
                setTimeout('updateStatus(true)', '500');
            });
            var show_log = false;
            toggleLog = function(button) {
                var button = $(button);
                var log = button.up().next(".log");
                Effect.toggle(log, 'blind', { duration: 0.4 });
                if(log.style.display == "none") {
                    button.value = "{% trans "Hide log" %}";
                    show_log = true;
                }
                else {
                    button.value = "{% trans "Show log" %}";
                    show_log = false;
                }
                if(updater)
                    updater.options.parameters = {'show_log': show_log};
            }
            updateMedias = function() {
                new Ajax.Request('{% url update_medias %}', { method: 'get' });
            }
            updateStatus = function(force) {
                new Ajax.Updater($('status'), '{% url status %}', {
                    'method': 'get',
                    'parameters': {'force': force},
                    onComplete: function(transport) {
                        if (transport.responseText.startsWith('{% trans "Ready" %}')) {
                            if ($('status').hasClassName("active")) {
                                $('status').removeClassName("active");
                                new Effect.Morph('status', {
                                    duration: 0.3,
                                    delay: 1,
                                    style: 'height: 0px;'
                                });
                            }
                        }
                        else if (transport.status == 200) {
                            $('status').addClassName("active");
                            new Effect.Morph('status', {
                                duration: 0.3,
                                style: 'height: 22px;'
                            });
                        }
                        
                        if (transport.status == 400) {
                            $('status').addClassName("error");
                            setTimeout('updateStatus(false)', '2000');
                        }
                        else {
                            $('status').removeClassName("error");
                            updateStatus(false);
                        }
                    }
                });
            }
        </script>
        <div id="head">
            <div id="logo">
                <a href="/" class="logo"><img src="{{ MEDIA_URL}}img/mandriva-logo-opt.png" height="32px" /> Mandriva Server Setup 2.0 beta</a>
            </div>
            <div id="quickbar">
                <div id="quick-personal">
                {% if user.is_authenticated %}
                    {% block head %}
                        <a href="#" onclick="updateMedias();">{% trans "Update medias" %}</a> | 
                        <a href="{% url logout %}">{% trans "Logout" %}</a>
                    {% endblock %}
                {% endif %}
                </div>
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="status">
        </div>
    </body>
</html>
