{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% ifequal mode "run" %}
<script type="text/javascript">
    var current = 0;
    var updater = "";
    var modules = new Array();
    {% for m in modules %}
        {% if not m.skip_config %}
            modules.push('{{ m.id }}');
        {% endif %}
    {% endfor %}

    next = function() {
        current++;
        if(modules[current]) {
            run();
        }
        else {
            $("summary").update("{% trans "Configuration terminated, details are displayed below." %}");
            $("next").value = "{% trans "Home page" %}";
            $('next').disabled = false;
            $('back').disabled = false;
        }
    }

    check = function() {
        tmp = "";
        updater = new Ajax.PeriodicalUpdater(tmp, '/mss/state/config/'+modules[current]+'/', {
            frequency: 1,
            decay: 2,
            method: 'get',
            onSuccess: function(t) {
                o = t.responseJSON;
                current_log.update(formatLog(o.output));
                scrollLog();
                if (o.code != 2000) {
                    updater.stop();
                    if (o.code == 0) {
                        current_task.addClassName("success info");
                        current_task.update("{% trans "Configuration succeded." %}");
                        new Ajax.Request('/mss/config/end/'+modules[current]+'/', {
                            method: 'get',
                        });
                        next();
                    }
                    else {
                        current_task.addClassName("warning error");
                        current_task.update("{% trans "Configuration failed." %}");
                        $('next').value = "{% trans "Home page" %}";
                        $('next').disabled = false;
                        $('back').disabled = false;
                        toggleLog(current_log.previous().down());
                    }
                    collectLog = Class.create();
                    collectLog.prototype = {
                        initialize: function() {
                            this.logs = {};
                            // get summary
                            this.logs['infos'] = $(current_log).select('.info');
                            // get warnings
                            this.logs['warnings'] = $(current_log).select('.warning');
                            // get errors
                            this.logs['errors'] = $(current_log).select('.error');
                        },
                        toString: function() {
                            output = "";
                            output += this.format('infos', '{% trans "Configuration summary" %}');
                            output += this.format('warnings', '{% trans "Configuration warnings" %}');
                            output += this.format('errors', '{% trans "Configuration errors" %}');
                            return output;
                        },
                        format: function(type, title) {
                            output = "";
                            if(this.logs[type].length > 0) {
                                output += '<div class="'+type+'"><h3>'+title+'</h3>';
                                for(i=0; i<this.logs[type].length; i++) {
                                    output += "<p>"+this.logs[type][i].innerHTML+"</p>";
                                }
                                output += '</div>';
                            }
                            return output;
                        }
                    }
                    task_summary = current_task.next();
                    task_summary.update(new collectLog());
                }
            }
        });
    }

    stop = function() {
        $("next").value = "{% trans "Home page" %}";
        $("next").disabled = false;
        $("summary").update("{% trans "Configuration terminated, details are displayed below." %}");
        $(modules[current]).down().next('div.install').down().update("{% trans "Error : Could not find any configuration script to execute." %}");
    }

    run = function() {
        current_log = $$("#"+modules[current]+" .log")[0];
        current_task = $$("#"+modules[current]+" .task")[0];
        current_task.update('<img src="/site_media/img/load.gif" /> {% trans "Running configuration..." %}');
        new Ajax.Request('/mss/config/run/'+modules[current]+'/', {
            method: 'get',
            onSuccess: check,
            on404: stop,
        });
    }

    Event.observe(window, 'load', function() {
        run();
    });
</script>
{% endifequal %}
<h1><span>1. {% trans "Preinstallation" %}</span> &raquo; <span>2. {% trans "Medias" %}</span> &raquo; <span>3. {% trans "Installation" %}</span> &raquo; <span class="active">4. {% trans "Configuration" %}</span></h1>
<div class="block">
    <h2>Configuration</h2>
    {% ifequal mode "start" %}
    <p>{% blocktrans count modules|length as counter %}The following module will be configured.{% plural %}The following modules will be configured.{% endblocktrans %}
    {% trans "Please wait during the configuration process." %}</p>
    <p>{% trans "To run the configuration, click on the &laquo;Run configuration&raquo; button below." %}</p>
    {% endifequal %}

    {% ifequal mode "run" %}
    <p id="summary">{% trans "Configuration in progress..." %}</p>
    {% endifequal %}

    {% for m in modules %}
        <fieldset id="{{ m.id }}">
            <legend>{{ m.name }}</legend>
            <p class="desc">{{ m.desc }}</p>
            {% ifequal mode "run" %}
            <div class="install">
                {% if m.skip_config %}
                <p class="task">{% trans "No configuration for this module." %}</p>
                <script type="text/javascript">
                    new Ajax.Request('/mss/config/end/{{ m.id }}/', {
                    method: 'get',
                });
                </script>
                {% else %}
                <p class="task">{% trans "Waiting..." %}</p>
                <div class="task_summary"> </div>
                <div class="log_button"><input type="button" value="{% trans "Show log" %}" onclick="toggleLog(this)"/></div>
                <div class="log" style="display: none;"> </div>
                {% endif %}
            </div>
            {% endifequal %}
        </fieldset>
    {% endfor %}

    {% ifequal mode "start" %}
    <form id="mss" name="mss" action="{% url config_start %}" method="post">
        <div class="validation">
            <input type="submit" name="continue" value="{% trans "Run configuration" %}" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
    {% endifequal %}

    {% ifequal mode "run" %}
    <form id="mss" name="mss" action="{% url sections %}" method="post">
        <div class="validation">
            <input id="next" type="submit" name="continue" value="{% trans "Please wait..." %}" disabled="disabled" />
            <input id="back" type="button" name="back" value="{% trans "Back" %}" disabled="disabled" />
        </div>
    </form>
    {% endifequal %}
</div>
{% endblock %}
