{% extends 'base.html' %}
{% load i18n %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<section id="configuration">
    <div class="page-header">
        <h1>{{ transaction.title }}</h1>
    </div>
    <p class="alert alert-success">{% trans "Installation & configuration was successful." %}</p>
    <div class="form-actions">
        <div class="pull-right">
            <a href="{% url 'sections' %}">{% trans "Home page" %}</a>
        </div>
    </div>
</div>
{% endblock %}
