{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1><span>1. {% trans "Preinstallation" %}</span> &raquo; <span>2. {% trans "Medias" %}</span> &raquo; <span>3. {% trans "Installation" %}</span> &raquo; <span class="active">4. {% trans "Configuration" %}</span></h1>
<div class="block">
    <h2>Configuration</h2>
    <p>{% trans "The selected modules doesn't have any configuration script." %}</p>
    <p class="success info">{% trans "Installation was successful." %}</p>
    <form id="mss" name="mss" action="{% url sections %}" method="post">
        <div class="validation">
            <input id="next" type="submit" name="continue" value="{% trans "Home page" %}" />
        </div>
    </form>
</div>
{% endblock %}
