{% extends 'base.html' %}
{% load i18n %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<script type="text/javascript">
    var field_cnt = 0;

    function addNetwork(module, fieldname, ip, mask) {
        container = $("#" + module + "_" + fieldname);
        field = $('<div>', {'class': 'input-append field-multi'});
        input_ip = $('<input>', { 'name': module+"_"+fieldname+"_"+field_cnt+"_ip",
                     'type':'text', 'value': ip});
        separator = $('<span>').html(" / ");
        input_mask = $('<input>', { 'name': module+"_"+fieldname+"_"+field_cnt+"_mask",
                       'type':'text', 'value': mask});
        remove = $('<button>', { 'class': 'btn', 'type': 'button' });
        remove.append('<i class="icon-remove"></i>');
        remove.click(function(){ 
            $(this).parent().next().remove(); 
            $(this).parent().remove();
            // Be sure to destroy the tooltip
            $('.tooltip').remove();
        });

        field.append(input_ip);
        field.append(separator);
        field.append(input_mask);
        field.append(remove);
        container.append(field);
        container.append($('<br>'));

        field_cnt++;
    }

    function addField(module, fieldname, text) {
        container = $("#" + module + "_" + fieldname);
        field = $('<div>', {'class': 'input-append'});
        input = $('<input>', {'name': module+"_"+fieldname+"_"+field_cnt+"_field",
                'type':'text', 'value': text});
        remove = $('<button>', {'class': 'btn', 'type': 'button'});
        remove.append('<i class="icon-remove"></i>');
        remove.click(function(){ 
            $(this).parent().next().remove(); 
            $(this).parent().remove();
            // Be sure to destroy the tooltip
            $('.tooltip').remove();
        });
        
        field.append(input);
        field.append(remove);
        container.append(field);
        container.append($('<br>'));

        field_cnt++;
    }

    $(document).ready(function() {
        // Focus the first input in the form
        // Put the cursor at the end if there is a default text
        var firstInput = $($('#configuration-form input')[0]);
        var value = firstInput.val();
        firstInput.focus().val('');
        firstInput.val(value);
    });
</script>
<section id="configuration">
    <div class="page-header">
        <h1>{{ transaction.current_step.title }}</h1>
    </div>
    <form id="configuration-form" class="form-horizontal" action="{% url config_valid %}" method="post">
    {% for module in config %}
        <fieldset>
            {% for m in transaction.modules_info %}
                {% ifequal module.0.id m.id %}
            <legend>{{ m.name }}</legend>
                {% endifequal %}
            {% endfor %}
            {% for field in module %}
            {% if module.0.configured and field.show_if_unconfigured %}
                <input 
                    id="{{ field.id }}_{{ field.name }}"
                    name="{{ field.id }}_{{ field.name }}"
                    value="{{ field.default }}"
                    type="hidden"
            	/>
        	{% else %}
                {% if field.type %}
                <div class="control-group {% if field.error %}error{% endif %}">
        	    {% ifequal field.type "text" %}
            		<label for="{{ field.id }}_{{ field.name }}" class="control-label">
            		    {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}: 
            		</label>
                    <div class="controls">
            		{% if field.multi %}
                        <span id="{{ field.id }}_{{ field.name }}" 
                              name="{{ field.id }}_{{ field.name }}"
                              data-placement="right" rel="tooltip" 
                              data-original-title="{{ field.help }}"></span>
                        <p><a class="btn btn-small" onclick="addField('{{ field.id }}', '{{ field.name }}', '')">
                            <i class="icon-plus-sign"></i> {% trans "Add" %}
                        </a></p>
            		    {% if field.default %}
            			<script type="text/javascript">
            			{% for text in field.default %}
                		    addField('{{ field.id }}', '{{ field.name }}', '{{ text }}');
            			{% endfor %}
            			</script>
            		    {% endif %}
            		{% else %}
            		    {% if module.0.configured and field.edit_if_unconfigured %}
                            <input
                                id="{{ field.id }}_{{ field.name }}"
                                name="{{ field.id }}_{{ field.name }}"
                                value="{{ field.default }}"
                                type="hidden"
                            />
                            {{ field.default }}
                	    {% else %}
                            <input
                                id="{{ field.id }}_{{ field.name }}"
                                name="{{ field.id }}_{{ field.name }}"
                                value="{{ field.default }}"
                                type="text" 
                                data-placement="right" rel="tooltip" 
                                data-original-title="{{ field.help }}" 
                            />
            		    {% endif %}
                    {% endif %}
                    {% if field.error %}
                        <span class="help-block">{{ field.error }}</span>
                    {% endif %}
                    </div>
        	    {% endifequal %}
        	    {% ifequal field.type "password" %}
            		<label class="control-label" for="{{ field.id }}_{{ field.name }}">
            		    {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}: 
            		</label>
                    <div class="controls">
                        <input
                            id="{{ field.id }}_{{ field.name }}"
                            name="{{ field.id }}_{{ field.name }}"
                            type="password"
                            value="{{ field.default }}"
                            data-placement="right" rel="tooltip" 
                            data-original-title="{{ field.help }}" 
                        />
                    </div>
                </div>
                <div class="control-group {% if field.error %}error{% endif %}">
                    <label class="control-label" for="{{ field.id }}_{{ field.name }}2">
                        {% trans "Re-enter password" %}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}: 
                    </label>
                    <div class="controls">
                        <input
                            id="{{ field.id }}_{{ field.name }}2"
                            name="{{ field.id }}_{{ field.name }}2"
                            type="password"
                            data-placement="right" rel="tooltip" 
                            data-original-title="{{ field.help }}" 
                        />
                        {% if field.error %}
                            <span class="help-block">{{ field.error }}</span>
                        {% endif %}
                    </div>
        	    {% endifequal %}
        	    {% ifequal field.type "options" %}
            		<label class="control-label" for="{{ field.id }}_{{ field.name }}">
            		    {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}: 
                    </label>
                    <div class="controls">
                        <select {% if field.error %}class="error"{% endif %}
                            id="{{ field.id }}_{{ field.name }}"
                            name="{{ field.id }}_{{ field.name }}"
                            data-placement="right" rel="tooltip" 
                            data-original-title="{{ field.help }}">
                        {% for option in field.options %}
                            <option value="{{ option.value }}"
                                {% ifequal option.value field.default %}selected="selected"{% endifequal %}>
                                {{ option.name }}
                            </option>
                        {% endfor %}
                        </select>
                        {% if field.error %}
                            <span class="help-block">{{ field.error }}</span>
                        {% endif %}
                    </div>
        	    {% endifequal %}
        	    {% ifequal field.type "check" %}
            		<label class="control-label" for="{{ field.id }}_{{ field.name }}">
            		    {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}: 
            		</label>
                    <div class="controls">
                        <input
                            id="{{ field.id }}_{{ field.name }}"
                            name="{{ field.id }}_{{ field.name }}"
                            type="checkbox"
                            {% ifequal field.default "on" %} checked="checked" {% endifequal %}
                            data-placement="right" rel="tooltip" 
                            data-original-title="{{ field.help }}"
                        />
                    </div>
        	    {% endifequal %}
        	    {% ifequal field.type "network" %}
            		<label class="control-label" for="{{ field.id }}_{{ field.name }}">
            		    {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}: 
                    </label>
                    <div class="controls">
                        <span id="{{ field.id }}_{{ field.name }}" 
                              name="{{ field.id }}_{{ field.name }}"
                              data-placement="right" rel="tooltip" 
                              data-original-title="{{ field.help }}"></span>
                        <p><a class="btn btn-small" onclick="addNetwork('{{ field.id }}', '{{ field.name }}', '', '')" >
                            <i class="icon-plus-sign"></i> {% trans "Add" %}
                        </a></p>
                        {% if field.error %}
                            <span class="help-block">{{ field.error }}</span>
                        {% endif %}
                    </div>
            		{% if field.default %}
                    <script type="text/javascript">
                    {% for network in field.default %}
                        addNetwork('{{ field.id }}', '{{ field.name }}', '{{ network.0 }}', '{{ network.1 }}');
                    {% endfor %}
                    </script>
            		{% endif %}
        	    {% endifequal %}                
                </div>
                {% endif %}
        	    {% if not module.0.do_config %}
                    <p class="alert">{% trans "No configuration for this module." %}</p>
        	    {% endif %}
        	{% endif %}
            {% endfor %}
        </fieldset>
    {% endfor %}
        <p><small><span class="require">*</span> : {% trans "Required field" %}</small></p>
        <div class="form-actions">
            <div class="pull-right">
                <button type="submit" name="continue">{% trans "Continue" %} →</button>
            </div>
            <a href="{% url preinst %}">Retour</a>
        </div>
    </form>
</section>
{% endblock %}
