{% extends 'base.html' %}
{% load i18n %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<script type="text/javascript">
    var field_cnt = 0;

    function addNetwork(module, fieldname, ip, mask, canRemove) {
        container = $("#" + module + "_" + fieldname);
        field = $('<div>', {'class': 'input-append field-multi'});
        input_ip = $('<input>', { 'name': module+"_"+fieldname+"_"+field_cnt+"_ip",
                     'type':'text', 'value': ip, 'class': 'input-medium' });
        separator = $('<span>').html(" / ");
        input_mask = $('<input>', { 'name': module+"_"+fieldname+"_"+field_cnt+"_mask",
                       'type':'text', 'value': mask, 'class': 'input-medium' });
        remove = $('<button>', { 'class': 'btn', 'type': 'button' });
        remove.append('<i class="icon-remove"></i>');
        remove.click(function(){ 
            $(this).parent().next().remove();
            $(this).parent().remove();
            // Be sure to destroy the tooltip
            $('.tooltip').remove();
        });

        field.append(input_ip);
        field.append(separator);
        field.append(input_mask);
        if (canRemove)
          field.append(remove);
        container.append(field);
        container.append($('<br>'));

        field_cnt++;
    }

    function addField(module, fieldname, text) {
        container = $("#" + module + "_" + fieldname);
        field = $('<div>', {'class': 'input-append'});
        input = $('<input>', {'name': module+"_"+fieldname+"_"+field_cnt+"_field",
                'type':'text', 'value': text});
        remove = $('<button>', {'class': 'btn', 'type': 'button'});
        remove.append('<i class="icon-remove"></i>');
        remove.click(function(){ 
            $(this).parent().next().remove();
            $(this).parent().remove();
            // Be sure to destroy the tooltip
            $('.tooltip').remove();
        });

        field.append(input);
        field.append(remove);
        container.append(field);
        container.append($('<br>'));

        field_cnt++;
    }

    $(document).ready(function() {
        // Focus the first input in the form
        // Put the cursor at the end if there is a default text
        var firstInput = $($('#configuration-form input')[0]);
        var value = firstInput.val();
        firstInput.focus().val('');
        firstInput.val(value);
    });
</script>
<section id="configuration">
    <div class="page-header">
        <h1>{{ transaction.current_step.title }}</h1>
    </div>
    <form id="configuration-form" class="form-horizontal" action="{% url 'config_valid' %}" method="post">
    {% for m in config %}
        {% for module in transaction.modules_info %}
            {% ifequal module.slug m.slug %}
                {% if module.has_configuration %}
        <fieldset>
            <legend>{{ module.name }}</legend>
            <script type="text/javascript">
                var toggleable = [];
            {% for field in m.config %}
                {% for option in field.options %}
                    {% for field in option.toggle %}
                        toggleable.push("{{ m.slug }}_{{ field }}")
                    {% endfor %}
                {% endfor %}
            {% endfor %}
                var hideToggleable = function() {
                    toggleable.forEach(function(field) {
                        $('#' + field).parent().parent().hide();
                        $('#' + field).val('');
                    });
                }
                $(document).ready(function() {
                    hideToggleable();
                });
            </script>
            {% for field in m.config %}
            {% if module.configured and field.show_if_unconfigured %}
                <input
                    id="{{ field.slug }}_{{ field.name }}"
                    name="{{ field.slug }}_{{ field.name }}"
                    value="{{ field.default }}"
                    type="hidden"
            	/>
        	{% else %}
                {% ifequal field.type "subtitle" %}
                    <h3>{{ field.label }}</h3>
                {% endifequal %}
        	    {% ifequal field.type "text" %}
                    {% if field.hidden %}
                    <input type="hidden" id="{{ field.slug }}_{{ field.name }}"
                           name="{{ field.slug }}_{{ field.name }}"
                           value="{{ field.default }}"
                    />
                    {% else %}
                    <div class="control-group {% if field.error %}error{% endif %}">
                        <label for="{{ field.slug }}_{{ field.name }}" class="control-label">
                            {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}:
                        </label>
                        <div class="controls">
                        {% if field.multi %}
                            <span id="{{ field.slug }}_{{ field.name }}"
                                  name="{{ field.slug }}_{{ field.name }}"
                                  data-placement="right" rel="tooltip"
                                  data-original-title="{{ field.help }}"></span>
                            <p><a class="btn btn-small" onclick="addField('{{ field.slug }}', '{{ field.name }}', '')">
                                <i class="icon-plus-sign"></i> {% trans "Add" %}
                            </a></p>
                            {% if field.default %}
                            <script type="text/javascript">
                            {% for text in field.default %}
                                addField('{{ field.slug }}', '{{ field.name }}', '{{ text }}');
                            {% endfor %}
                            </script>
                            {% endif %}
                        {% else %}
                            {% if module.0.configured and field.edit_if_unconfigured %}
                                <input
                                    id="{{ field.slug }}_{{ field.name }}"
                                    name="{{ field.slug }}_{{ field.name }}"
                                    value="{{ field.default }}"
                                    type="hidden"
                                />
                                {{ field.default }}
                            {% else %}
                                <input
                                    id="{{ field.slug }}_{{ field.name }}"
                                    name="{{ field.slug }}_{{ field.name }}"
                                    value="{{ field.default }}"
                                    type="text"
                                    data-placement="right" rel="tooltip"
                                    data-original-title="{{ field.help }}"
                                />
                            {% endif %}
                        {% endif %}
                        {% if field.error %}
                            <span class="help-block">{{ field.error }}</span>
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
        	    {% endifequal %}
        	    {% ifequal field.type "password" %}
                <div class="control-group {% if field.error %}error{% endif %}">
            	        <label class="control-label" for="{{ field.slug }}_{{ field.name }}">
            		    {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}:
            		</label>
                    <div class="controls">
                        <input
                            id="{{ field.slug }}_{{ field.name }}"
                            name="{{ field.slug }}_{{ field.name }}"
                            type="password"
                            value="{{ field.default }}"
                            data-placement="right" rel="tooltip"
                            data-original-title="{{ field.help }}"
                        />
                    </div>
                </div>
                {% ifnotequal field.confirm "no" %}
                <div class="control-group {% if field.error %}error{% endif %}">
                    <label class="control-label" for="{{ field.slug }}_{{ field.name }}2">
                        {% trans "Re-enter password" %}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}:
                    </label>
                    <div class="controls">
                        <input
                            id="{{ field.slug }}_{{ field.name }}2"
                            name="{{ field.slug }}_{{ field.name }}2"
                            type="password"
                            data-placement="right" rel="tooltip"
                            data-original-title="{{ field.help }}"
                        />
                        {% if field.error %}
                            <span class="help-block">{{ field.error }}</span>
                        {% endif %}
                    </div>
                </div>
                {% endifnotequal %}
                {% endifequal %}
        	    {% ifequal field.type "options" %}
                <div class="control-group {% if field.error %}error{% endif %}">
            		<label class="control-label" for="{{ field.slug }}_{{ field.name }}">
            		    {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}:
                    </label>
                    <div class="controls">
                        <select {% if field.error %}class="error"{% endif %}
                            id="{{ field.slug }}_{{ field.name }}"
                            name="{{ field.slug }}_{{ field.name }}"
                            data-placement="right" rel="tooltip"
                            data-original-title="{{ field.help }}">
                        {% for option in field.options %}
                            <option value="{{ option.value }}"
                                {% ifequal option.value field.default %}selected="selected"{% endifequal %}>
                                {{ option.name }}
                            </option>
                            <script type="text/javascript">
                                $('#{{ field.slug }}_{{ field.name }}').change(function() {
                                    if ("{{ option.value }}" == $(this).val()) {
                                        hideToggleable();{% for f in option.toggle %}
                                        $('#{{ field.slug }}_{{ f }}').parent().parent().show();{% endfor %}
                                    }
                                });
                                {% ifequal option.value field.default %}
                                $(document).ready(function() {
                                    {% for f in option.toggle %}
                                    $('#{{ field.slug }}_{{ f }}').parent().parent().show();{% endfor %}
                                });
                                {% endifequal %}
                            </script>
                        {% endfor %}
                        </select>
                        {% if field.error %}
                            <span class="help-block">{{ field.error }}</span>
                        {% endif %}
                    </div>
                </div>
        	    {% endifequal %}
        	    {% ifequal field.type "check" %}
                <div class="control-group {% if field.error %}error{% endif %}">
                    <div class="controls">
                        <input
                            id="{{ field.slug }}_{{ field.name }}"
                            name="{{ field.slug }}_{{ field.name }}"
                            type="checkbox"
                            {% ifequal field.default "on" %} checked="checked" {% endifequal %}
                            data-placement="left" rel="tooltip"
                            data-original-title="{{ field.help }}"
                            style="vertical-align: top"
                        />
                        <label
                            for="{{ field.slug }}_{{ field.name }}"
                            data-placement="right" rel="tooltip"
                            data-original-title="{{ field.help }}"
                            style="display: inline"
                        >
                            {{ field.label }}
                        </label>
                    </div>
                </div>
        	    {% endifequal %}
        	    {% ifequal field.type "network" %}
                <div class="control-group {% if field.error %}error{% endif %}">
            		<label class="control-label" for="{{ field.slug }}_{{ field.name }}">
            		    {{ field.label }}{% if field.require %}<span class="require">&nbsp;*</span>{% endif %}:
                    </label>
                    <div class="controls">
                        <span id="{{ field.slug }}_{{ field.name }}"
                              name="{{ field.slug }}_{{ field.name }}"
                              data-placement="right" rel="tooltip"
                              data-original-title="{{ field.help }}"></span>
                        {% if field.multi %}
                        <p><a class="btn btn-small" onclick="addNetwork('{{ field.slug }}', '{{ field.name }}', '', '', true)" >
                            <i class="icon-plus-sign"></i> {% trans "Add" %}
                        </a></p>
                        {% endif %}
                        {% if field.error %}
                            <span class="help-block">{{ field.error }}</span>
                        {% endif %}
                    </div>
            		{% if field.default %}
                    <script type="text/javascript">
                    {% for network in field.default %}
                      addNetwork('{{ field.slug }}', '{{ field.name }}', '{{ network.0 }}', '{{ network.1 }}', '{{ field.multi }}');
                    {% endfor %}
                    </script>
            		{% endif %}
                </div>
        	    {% endifequal %}
        	{% endif %}
            {% endfor %} <!-- end fields -->
        </fieldset>

                {% endif %} <!-- end has_configuration -->
            {% endifequal %}
        {% endfor %}
    {% endfor %}
        <p><small><span class="require">*</span> : {% trans "Required field" %}</small></p>
        <div class="form-actions">
            <div class="pull-right">
                <button type="submit" name="continue">{% trans "Continue" %} →</button>
            </div>
            <a href="{% url 'preinst' %}">{% trans "Back" %}</a>
        </div>
    </form>
</section>
{% endblock %}
