{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section id="login">
    <div class="page-header">
        <h1>{% trans "Welcome" %}</h1>
    </div>
    <p class="alert">{% trans "Mandriva Server Setup (<em>MSS</em>) is a simple tool to help you quickly setup the services you need on your server." %}<br /><br />{% trans "Login to begin to setup your server." %}</p>
    <form class="form-horizontal" action="{% url login %}" method="post">
        <legend>{% trans "Login" %}</legend>
        {% include "login_form.html" %}
    </form>
</section>
<script type="text/javascript">
    // Hack to make the content block centered on this page
    $('.span9').addClass('span7');
</script>
<style type="text/css">
    #status, .form-actions { width: 540px; }
</style>
{% endblock %}
