{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<script type="text/javascript">
    scrollLog = function() {
        $('log').scrollTop = $('log').scrollHeight;
    }
    updater = new Ajax.PeriodicalUpdater("log", "{% url install_state %}", {
        frequency: 2,
        decay: 3,
        evalScripts: true,
    });
</script>
<h1><span>1. {% trans "Preinstallation" %}</span> &raquo; <span>2. {% trans "Medias" %}</span> &raquo; <span class="active">3. {% trans "Installation" %}</span> &raquo; <span>4. {% trans "Configuration" %}</span></h1>
<div class="block block-height">
    <h2>{% trans "Installation" %}</h2>
    <p>{% blocktrans count modules|length as counter %}The following module is being installed{% plural %}The following modules are being installed{% endblocktrans %} :
    {% for m in modules %}
        <strong>{{ m.name }}</strong>{% if not forloop.last %},{% endif %}
    {% endfor %}</p>
    <div class="install">
        <p id="task" class="task"><img src="/site_media/img/load.gif" /> {% trans "Please wait..." %}</p>
        <div class="log_button"><input type="button" value="{% trans "Show log" %}" onclick="toggleLog(this)"/></div>
        <div id="log" class="log" style="display: none;"> </div>
    </div>
    <form id="mss" name="mss" action="{% url config %}" method="post">
        <div class="validation">
            <input id="next" type="submit" name="continue" value="{% trans "Please wait..." %}" disabled="disabled" />
            <input id="back" type="button" value="{% trans "Back" %}" disabled="disabled" />
        </div>
    </form>
</div>
{% endblock %}
