{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1><span>1. {% trans "Preinstallation" %}</span> &raquo; <span>2. {% trans "Medias" %}</span> &raquo; <span class="active">3. {% trans "Installation" %}</span> &raquo; <span>4. {% trans "Configuration" %}</span></h1>
<div class="block">
    <h2>{% trans "Installation" %}</h2>
    <p>{% blocktrans count modules|length as counter %}No packages needed for this component.{% plural %}No packages needed for this component.{% endblocktrans %}</p>
    <p>{% trans "Click on the &laquo;Continue&raquo; button below to start the configuration." %}</p>
    <fieldset>
        <legend>{% trans "Modules" %}</legend>
        {% for module in modules %}
        <h3>{{ module.name }}</h3>
        <p class="help">{{ module.desc }}</p>
        {% endfor %}
    </fieldset>
    <form id="mss" name="mss" action="{% url config %}" method="post">
        <div class="validation">
            <input id="next" type="submit" name="continue" value="{% trans "Continue" %}" />
            <input id="back" type="button" value="{% trans "Back" %}" />
        </div>
    </form>
</div>
{% endblock %}
