{% load i18n %}
<form action="{% url login %}" method="post" accept-charset="utf-8">
    <input type="hidden" name="username" value="root" id="username" size="10" />
    <p>
        <label for="password">{% trans "Password" %}: </label>
        <input type="password" name="password" value="" id="password" size="10" />
    </p>
    <p>
        <label for="language">{% trans "Language" %}: </label>
        <script type="text/javascript">
            Event.observe(window, 'load', function() {
                $('password').focus();
            });
        </script>
        {% include 'language_form.html' %}
    </p>
    <div class="right"><input type="submit" value="{% trans "Enter" %} →"></div>
</form>
