{% extends 'base.html' %}
{% load mss %}
{% load i18n %}
{% block content %}
<section id="login">
    {% if not first_time %}
    <div class="page-header">
        <h1>{% trans "Welcome" %}</h1>
    </div>
    <p class="alert">{% trans "Mandriva Server Setup (<em>MSS</em>) is a simple tool to help you quickly setup the services you need on your server." %}<br /><br />{% trans "Login to begin to setup your server." %}</p>
    {% else %}
    <div class="page-header">
        <h1><img src="{{ MEDIA_URL }}img/login.png" /> {% trans "Login" %}</h1>
    </div>
    {% endif %}
    <form class="form-horizontal" action="{% url 'login' %}" method="post" accept-charset="utf-8">
        {% if not first_time %}
        <legend>{% trans "Login" %}</legend>
        {% endif %}
        {% if error %}
        <p class="alert alert-error">{% trans "Wrong username or password." %}</p>
        {% endif %}
        {% include "login_form.html" %}
    </form>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        // Hack to make the content block centered on this page
        $('.span9').addClass('span7');
    });
</script>
<style type="text/css">
    #status,
    .form-horizontal .form-actions {
        width: 540px;
    }
    .form-horizontal .form-actions {
        position: relative;
        bottom: 0px;
        display: block;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
</style>
{% endblock %}
