{% load i18n %}
<script type="text/javascript">
    $(document).ready(function() {
        (function checknet() {
            $.get('{% url state "net" %}')
            .success(function(t) {
                if (isInt(t.code) && t.code != 2000) {
                    if (t.code == 0) {
                        $('#username')[0].focus();
                        $('#username').tooltip({
                            placement: 'right',
                            title: "{% trans "Your my.mandriva.com email address." %}"
                        });
                        $('#password').tooltip({
                            placement: 'right',
                            title: "{% trans "Your my.mandriva.com password." %}"
                        });
                        $('#netinfo').addClass("alert-success");
                        $('#netinfo').html('<i class="icon-ok"></i> {% trans "Use your Mandriva account to login." %}');
                        $('#netinfo').slideDown();
                        $('#netinfo').fadeIn();
                    }
                    else {
                        $('#username')[0].value = "root";
                        $('#password')[0].focus();
                        $('#password').tooltip({
                            placement: 'right',
                            title: "{% trans "The server <strong>root</strong> password." %}"
                        });
                        $('#netinfo').addClass("alert-warning");
                        $('#netinfo').html('<i class="icon-exclamation-sign"></i> {% trans "No internet connection, use the root password to login." %}');
                        $('#netinfo').slideDown();
                        $('#netinfo').fadeIn();
                    }
                    $.get('/mss/has_net/' + t.code + '/');
                }
                else {
                    setTimeout(checknet, 2000);
                }
            });
        })();
    });
</script>
<p id="netinfo" class="alert" style="display: none"></p>
<div class="control-group">
    <label class="control-label" for="username">{% trans "Username" %}: </label>
    <div class="controls">
        <input type="text" name="username" value="" id="username" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="password">{% trans "Password" %}: </label>
    <div class="controls">
        <input type="password" name="password" value="" id="password" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="language">{% trans "Language" %}: </label>
    <div class="controls">
        {% include 'language_form.html' %}
    </div>
</div>
<div class="form-actions">
    <div class="pull-right">
        <button id="submit" type="submit" class="btn btn-primary">{% trans "Enter" %} →</button>
    </div>
</div>
