{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section id="login">
    <div class="page-header">
        <h1><img src="{{ MEDIA_URL }}img/login.png" /> {% trans "Login" %}</h1>
    </div>
    <form class="form-horizontal" action="{% url login %}" method="post" accept-charset="utf-8">
        {% include "login_form.html" %}
    </form>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        // Hack to make the content block centered on this page
        $('.span9').addClass('span7');
    });
</script>
<style type="text/css">
    #status, .form-actions { width: 540px; }
</style>
{% endblock %}
