{% extends 'base.html' %}
{% load i18n %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<section id="media-add">
    <div class="page-header">
        <h1>{{ transaction.current_step.title }}</h1>
    </div>
    <script type="text/javascript">
        var updater = "";
        var current = 0;
        var repositories = [];
        {% for repository in repositories %}
        repositories.push({"slug": "{{ repository.slug }}",
                           "module_slug": "{{ repository.module_slug }}",
                           "username": "{{ username }}",
                           "password": "{{ password }}"});
        {% endfor %}

        next = function() {
            current++;
            if(repositories[current]) {
                show_log = false;
                run();
            }
            else {
                $("#next").html("{% trans "Continue" %} →");
                $('#next').removeClass("disabled");
                $('#back').removeClass("disabled");
            }
        }

        run = function() {
            current_log_btn = $($("#"+repositories[current].slug+" .log-button .btn")[0]);
            current_log = $($("#"+repositories[current].slug+" .log")[0]);
            current_task = $($("#"+repositories[current].slug+" .alert")[0]);
            current_task.addClass('alert-info');
            current_task.html('{% trans "Adding media..." %}');
            $.post('/mss/media/add/'+repositories[current].module_slug+'/'+repositories[current].slug+'/',
                   {'username': repositories[current].username, 'password': repositories[current].password})
             .success(check)
             .error(function(xhr) {
                if (xhr.responseText && xhr.status == 500) $('body').html(xhr.responseText);
             });
        };

        check = function() {
            $.get("{% url 'state' "repository" %}")
             .success(function(r) {
                current_log.html(formatLog(r.output));
                scrollLog();
                if (r.code != 2000) {
                    if (r.code == 0) {
                        current_task.removeClass("alert-info");
                        current_task.addClass("alert-success");
                        current_task.html("{% trans "Media added." %}");
                        next();
                    }
                    else if (r.code == 5) {
                        current_task.removeClass("alert-info");
                        current_task.addClass("alert-success");
                        current_task.html("{% trans "Media already added." %}");
                        next();
                    }
                    else {
                        current_task.removeClass("alert-info");
                        current_task.addClass("alert-error");
                        current_task.html("{% trans "Failed to add media." %}");
                        if (current_log.css("display") == "none")
                            current_log_btn.click();
                        $('#back').removeClass("disabled");
                        $("#next").html("{% trans "Continue" %} →");
                    }
                }
                else
                    setTimeout(check, 2000);
             })
             .error(function(xhr) {
                if (xhr.responseText && xhr.status == 500) $('body').html(xhr.responseText);
             });
        };

        $(document).ready(function() {
            run();
        });
    </script>
    {% for repository in repositories %}
    <fieldset id="{{ repository.slug }}">
        <legend>{{ repository.name }}</legend>
        <p class="alert">{% trans "Waiting..." %}</p>
        <div class="install">
            <div class="log-button pull-right">
                <button class="btn btn-info btn-small" data-toggle="button" type="button" onclick="toggleLog(this)">{% trans "Show log" %}</button>
            </div>
            <div class="clearfix"></div>
            <div class="log" style="display: none;"></div>
        </div>
    </fieldset>
    {% endfor %}
    <div class="form-actions">
        <div class="pull-right">
            <a id="next" href="{{ transaction.next_step_url }}" class="disabled">{% trans "Please wait..." %}</a>
        </div>
        <a id="back" href="{% url 'preinst' %}" class="disabled">{% trans "Back" %}</a>
    </div>
</section>
{% endblock %}
