{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1><span>1. {% trans "Preinstallation" %}</span> &raquo; <span class="active">2. {% trans "Medias" %}</span> &raquo; <span>3. {% trans "Installation" %}</span> &raquo; <span>4. {% trans "Configuration" %}</span></h1>
<div class="block block-height">
    <h2>{% trans "Medias" %}</h2>
    <p>{% blocktrans count done|length as counter %}Media successfully added{% plural %}Medias successfully added{% endblocktrans %} : {% for media in done %}<strong>{{ media }}</strong>{% if not forloop.last %}, {% endif %}{% endfor %}<p>
    <form name="mss" action="{% url install %}" method="post">
        <div class="validation">
            <input type="submit" name="continue" value="{% trans "Continue" %}" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
</div>
{% endblock %}
