{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="block block-height">
    <h2>{% trans "Medias" %}</h2>
    <p>{% blocktrans count done|length as counter %}Media successfully added{% plural %}Medias successfully added{% endblocktrans %} : {% for media in done %}<strong>{{ media }}</strong>{% if not forloop.last %}, {% endif %}{% endfor %}<p>
    <form id="mss" name="mss" action="{% url sections %}" method="post">
        <div class="validation">
            <input id="next" type="submit" name="continue" value="{% trans "Home page" %}" />
        </div>
    </form>
</div>
{% endblock %}
