{% load i18n %}
<div class="block">
    <h2>{% trans "Medias" %}</h2>
    <p>{% blocktrans count auths|length as counter %}Some media needs your authentication in order to install{% plural %}Some medias need your authentication in order to install{% endblocktrans %} :
    {% for auth, media in auths.items %}
        <strong>{{ media.verbose_name }}</strong>{% if not forloop.last %},{% endif %}
    {% endfor %}
    </p>
    <form name="mss" action="{% url add_medias %}" method="post">
    {% for auth, media in auths.items %}
        {% ifequal auth "my" %}
        <fieldset>
            <legend>{% trans "My authentication" %}</legend>
            <p>
                <label for="{{ auth }}_login">{% trans "Login" %} : </label>
                <input name="{{ auth }}_login" id="{{ auth }}_login" type="text" />
            </p>
            <p class="help">
            {% trans "Your my.mandriva.com email address." %}
            </p>
            <p>
                <label for="{{ auth}}_passwd">{% trans "Password" %} : </label>
                <input name="{{ auth}}_passwd" id="{{ auth}}_passwd" type="password" />
            </p>
            <p class="help">
            {% trans "Your my.mandriva.com password." %}
            </p>
            {% if fail %}
            {% for media in fail %}
            <br />
            <p class="warning error">{% blocktrans with media.name as name and media.err as err %}An error occured when adding the {{ name }} media : {{ err }}{% endblocktrans %}</p>
            {% endfor %}
            {% endif %}
        </fieldset>
        <p id="task" style="display: none"><br />
            <img src="/site_media/img/load.gif" />
            {% trans "Please wait..."%}
        </p>
        {% endifequal %}
    {% endfor %}
        <div class="validation">
            <input type="submit" value="{% trans "Add medias" %}" onclick="$('task').show();" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
</div>
