{% extends 'base.html' %}
{% load i18n %}
{% load mss %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<section id="preinst">
    <div class="page-header">
        <h1>{{ transaction.current_step.title }}</h1>
    </div>
    {% if transaction.modules_list %}
    <p class="alert">{{ transaction.current_step.info }}</p>
    {% else %}
    <p class="alert alert-error">{% trans "No addon selected." %}</p>
    {% endif %}
    <form name="mss" action="{{ transaction.next_step_url }}" method="post">
        {% if transaction.current_step.show_modules %}
            {% for module in transaction.modules_info %}
            <div class="module">
                <h2>{{ module.name }}</h2>
                <p class="help-block">{{ module.description|firstline }}
                {% if module.dep %}(<strong>{% trans "Added as a dependency" %}</strong>){% endif %}
                {% if module.force %}(<strong>{% trans "Reinstallation" %}</strong>){% endif %}</p>
                {% if module.force %}
                <p class="alert alert-error">{% trans "If other addons requires this addon they may be broken after the reinstallation." %}</p>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
        <div class="form-actions">
            {% if transaction.modules_list %}
            <div class="pull-right">
                <button class="btn btn-primary" type="submit">{% trans "Continue" %} →</button>
            </div>
            {% endif %}
            <a class="btn" href="{% url 'sections' %}" id="back">{% trans "Back" %}</a>
        </div>
    </form>
</section>
{% endblock %}
