{% load i18n %}
<script type="text/javascript">
    var conflicts = new Object();
    var installs = new Object();

    checkConflicts = function() {
        var name = $('#' + this.name + ' .module-name').first().html();
        if (this.checked) {
            if (conflicts[this.name]) {
                var modules = conflicts[this.name]
                for (i=0; i<modules.length; i++) {
                    var id = modules[i];
                    var module = $('#' + id).first();
                    // .first() doesn't work, wtf?
                    var checkbox = $('#' + id + ' .module-checkbox')[0];

                    module.addClass("error");
                    checkbox.disabled = true;
                    setModulePopup(id, "icon-ban-circle", "{% trans "This component can't be installed with" %} <strong>" + name + "</strong>");
                }
            }
        }
        else {
            if (conflicts[this.name]) {
                var modules = conflicts[this.name];
                for (i=0; i<modules.length; i++) {
                    if (! installs[this.name]) {
                        var id = modules[i];
                        var module = $('#' + id).first();
                        var checkbox = $('#' + id + ' .module-checkbox')[0];

                        module.removeClass("error");
                        checkbox.disabled = false;
                        setModulePopup(id, '');
                    }
                }
            }
        }
    }

    createPopups = function() {
        $("[rel=popover]").each(
            function(i) {
                var content = $(this).siblings(".popover-content").html().trim();
                if (content) {
                    $(this).popover({
                        html: true,
                        trigger: 'hover',
                        template: '<div class="popover module-popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>',                    
                        content: content,
                    });
                }
                else {
                    $(this).popover('destroy');
                }
            }
        );
    };

    setModulePopup = function(id, icon, text) {
        if (!text)
            $('#' + id + ' .popover-content').empty();
        else
            $('#' + id + ' .popover-content').html('<i class="'+icon+'"></i> ' + text);
        createPopups();
    };

    $(document).ready(function() {
        // show/hide action menu
        /*$('span.actions').each(function(i) {
            Event.observe(i, 'mouseover', function() {
                var menu = $(this).firstDescendant();
                if (menu) {
                    menu.setStyle({ left: this.offsetLeft+'px' });
                    menu.show();
                }
            });
            Event.observe(i, 'mouseout', function() {
                var menu = $(this).firstDescendant();
                if (menu) {
                    menu.hide();
                }
            });
        });*/
        // check/uncheck install input on re-install/re-configure
        /*$('input.action').each(function(i) {
            Event.observe(i, 'click', function() {
                label = $(this).up().up().up().previous('label');
                input = $(this).up().up().up().previous('input');
                if (this.checked) {
                    label.removeClassName("configured");
                    input.disabled = false;
                }
                else {
                    label.addClassName("configured");
                    input.disabled = true;
                }
            });
        });*/

        // check conflicts when selecting module
        $('.module-checkbox').each(function(i) {
            $(this).bind('click', checkConflicts);
        });

        createPopups();
    });
</script>
<form name="mss" action="{% url prepare %}" method="post">
    {% for bundle in section.bundles %}
    <div class="bundle" id="{{ bundle.slug }}">
        <div class="page-header">
            <a name="{{ bundle.slug }}"></a>
            <h1>{% if bundle.icon %}<img src="{{ MEDIA_URL }}img/modules/{{ bundle.icon }}" /> {% endif %}{% trans bundle.name %}{% if bundle.desc %}&nbsp;<small>{% trans bundle.desc %}</small>{% endif %}</h1>
        </div>
            {% for module in bundle.modules %}
                {% for m in modules %}
                    {% ifequal m.slug module %}
                
        <script type="text/javascript">
            {% if m.conflicts %}
                {% for conflict in m.conflicts %}
            if (! conflicts.{{ conflict }})
                conflicts.{{ conflict }} = new Array();
            conflicts.{{ conflict }}.push("{{ m.slug }}");
                {% endfor %}
            {% endif %}
            {% if m.configured %}
            installs.{{ m.slug }} = true;
            {% else %}
            installs.{{ m.slug }} = false;
            {% endif %}
        </script>

        <div class="module control-group" id="{{ m.slug }}">
            <label class="{% if not m.configured and not m.conflict %}checkbox{% endif %}">
                {% if m.configured %}
                    <i class="icon-ok icon-blue"></i>
                {% else %}
                    {% if m.conflict %}
                        <i class="icon-ban-circle"></i>
                    {% else %}
                        <input type="checkbox" name="{{ m.slug }}" class="module-checkbox">
                    {% endif %}
                {% endif %}
                <span class="module-name" rel="popover" data-original-title="">{{ m.name }}</span>
                {% if m.actions and m.configured %}
                &nbsp;
                <span class="btn-group">
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog"></i>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for action in m.actions %}
                            {% ifequal action.type "link" %}
                            <li><a href="{{ action.value }}" target="_blank">{{ action.name }}</a></li>
                            {% endifequal %}
                        {% endfor %}
                    </ul>
                </span>
                {% endif %}
                <div class="popover-content" style="display: none">
                    {% if m.configured %}<p><i class="icon-ok"></i> {% trans "This component is installed and configured" %}</p>{% endif %}
                    {% if m.conflict %}<p><i class="icon-ban-circle"></i> {% trans "This module conflicts with : " %}
                        {% for m in m.conflict %}<strong>{{ m }}</strong>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    {% endif %}
                    {% if m.purchased %}<p><i class="icon-shopping-cart"></i> {% trans "You have bought this component" %}</p>{% endif %}
                </div>
            </label>

            {% comment %}
            {% if m.configured %}
            <span class="actions">{% trans "Actions" %}
                <div class="actions" style="display: none">
                    <div class="action">
                        <input class="action" type="checkbox" name="force-{{ m.slug }}" id="force-{{ m.slug }}" /><label for="force-{{ m.slug }}">{% trans "Reinstall and reconfigure" %} <img class="field" src="{{ MEDIA_URL }}img/reconfigure.png" alt="({% trans "Reconfigure" %})" title="{% trans "Reconfigure this module." %}" /></label>
                    </div>
                </div>
            </span>
            {% endif %}
            {% endcomment %}

            <span class="help-block">{{ m.desc|safe }}</span>
            <p>
                {% if not m.configured %}
                {% if not m.purchased and not m.price == 0 %}
                <a class="btn btn-small btn-success" href="{{ m.url }}"><i class="icon-shopping-cart icon-white"></i> {% trans "Buy" %}</a>
                {% endif %}
                {% endif %}
            </p>

        </div> <!-- /module -->

                {% endifequal %}
            {% endfor %}
        {% endfor %}
    </div> <!-- /bundle -->
    {% endfor %}
    
    <div class="form-actions">
            <div class="pull-right">
                <button class="btn btn-primary" type="submit">{% trans "Install and configure selected components" %}&nbsp;→</button>
            </div>
        </div>
    </div>
</form>
