{% extends 'base.html' %}
{% load i18n %}

{% block sidebar %}
    {% for section in sections %}
    <li {% ifequal section.slug "core" %}class="active"{% endifequal %}>
        <a href="#{{ section.slug }}" data-target="{{ section.slug }}">{% trans section.name %}</a>
    </li>
    {% endfor %}
    <script type="text/javascript">
        showSection = function() {
            $('#sidebar li').removeClass("active");
            $(this).parent().addClass("active");
            section = $(this).data("target");
            $.get('/mss/sections/' + section + '/')
             .success(function(content) {
                $('#section').html(content);
             })
             .error(function(xhr) {
                if (xhr.responseText && xhr.status == 500) $('body').html(xhr.responseText);
             });
        };

        $('#sidebar a').click(showSection);
    </script>
{% endblock %}

{% block content %}
{% if sections %}
    <section id="section" class="section"></section>
    <script type="text/javascript">
        $.get('{% url section "core" %}')
         .success(function(content) {
            $('#section').html(content);
         })
         .error(function(xhr) {
            if (xhr.responseText && xhr.status == 500) $('body').html(xhr.responseText);
         });
    </script>
{% else %}
    <section>
        <p class="alert">{% trans "No addon for Mandriva Server Setup available. Try to login again." %}</p>
        <div class="form-actions">
            <div class="pull-right">
                <a href="{% url logout %}">{% trans "Logout" %}</a>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}

