{% extends 'base.html' %}
{% load mss_tags %}
{% load i18n %}
{% block content %}
    <script type="text/javascript">
    var conflicts = new Object();
    var installs = new Object();
    check_conflict = function() {
        if (this.checked) {
            if (conflicts[this.id]) {
                var modules = conflicts[this.id]
                for (i=0; i<modules.length; i++) {
                    $(modules[i]).disabled = true;
                    $(modules[i]).next('label').addClassName("conflict");
                    $(modules[i]).next('img').alt = '{% trans "This module conflicts with : " %}'+$(this).next('label').innerHTML;
                    $(modules[i]).next('img').show();
                }
            }
        }
        else {
            if (conflicts[this.id]) {
                var modules = conflicts[this.id]
                for (i=0; i<modules.length; i++) {
                    if (! installs[this.id]) {
                        $(modules[i]).disabled = false;
                        $(modules[i]).next('label').removeClassName("conflict");
                        $(modules[i]).next('img').hide();
                    }
                }
            }
        }
    }
    Event.observe(window, 'load', function() {
        // show/hide action menu
        $$('span.actions').each(function(i) {
            Event.observe(i, 'mouseover', function() {
                var menu = $(this).firstDescendant();
                if (menu) {
                    menu.setStyle({ left: this.offsetLeft+'px' });
                    menu.show();
                }
            });
            Event.observe(i, 'mouseout', function() {
                var menu = $(this).firstDescendant();
                if (menu) {
                    menu.hide();
                }
            });
        });
        // check/uncheck install input on re-install/re-configure
        $$('input.action').each(function(i) {
            Event.observe(i, 'click', function() {
                label = $(this).up().up().up().previous('label');
                input = $(this).up().up().up().previous('input');
                if (this.checked) {
                    label.removeClassName("configured");
                    input.disabled = false;
                }
                else {
                    label.addClassName("configured");
                    input.disabled = true;
                }
            });
        });
        // check conflicts when selecting module
        $$('input.module').each(function(i) {
            Event.observe(i, "click", check_conflict);
        });
    });
    </script>
    <h1><span><a href="/" >{% trans "Home page" %}</a></span> &raquo; <span class="active">{% trans section.name %}</span></h1>
    <form name="mss" action="{% url preinst %}" method="post">
    {% for bundle in section.bundles %}
        <div class="block block-border {{ bundle.conf.class }}" id="{{ bundle.id }}">
            <div class="block-logo">
                <img src="{{ MEDIA_URL }}img/modules/{{ bundle.icon }}" />
            </div>
            <div class="block-content">
                <div class="head">
                    <h2>{% trans bundle.name %}</h2>
                    <p class="desc">{% trans bundle.desc %}</p>
                </div>
                <div class="detail">
                {% for module in bundle.modules %}
                    {% for m in modules %}
                        {% ifequal m.id module %}

                    <script type="text/javascript">
                    {% if m.conflicts %}
                        {% for conflict in m.conflicts %}
                        if (! conflicts.{{ conflict }})
                            conflicts.{{ conflict }} = new Array();
                        conflicts.{{ conflict }}.push("{{ m.id }}");
                        {% endfor %}
                    {% endif %}
                    {% if m.installed %}
                        installs.{{ m.id }} = true;
                    {% else %}
                        installs.{{ m.id }} = false;
                    {% endif %}
                    </script>

                    <input type="checkbox" name="{{ m.id }}" id="{{ m.id }}" class="module"
                        {% if m.configured %}checked="checked" disabled="disabled" %}"{% endif %}
                        {% if m.conflict %}disabled="disabled"{% endif %}
                    />

                    <label for="{{ m.id }}" class="{% if m.configured %}configured{% endif %} {% if m.conflict %}conflict{% endif %}">{{ m.name }}</label>

                    <img class="field pop" src="{{ MEDIA_URL }}img/conflict.png" alt="{% trans "This module conflicts with : " %}{% for m in m.conflict %}{{ m }}{% if not forloop.last %}, {% endif %}{% endfor %}" style="{% if not m.conflict %}display:none;{% endif %}"/>

                    {% if m.infos.buy %}
                        {% if m.access %}
                    <img class="field pop" src="{{ MEDIA_URL }}img/access.png" alt="{% trans "You have bought this module." %}" /></a>
                        {% else %}
                    <a href="{{ m.infos.buy }}"><img class="field pop" src="{{ MEDIA_URL }}img/cart.png" alt="{% trans "This is a commercial module." %}" /></a>
                        {% endif %}
                    {% endif %}

                    {% if m.installed %}<img class="field pop" src="{{ MEDIA_URL }}img/installed.png" alt="{% trans "Packages for this module are installed." %}" />{% endif %}

                    {% if m.configured %}
                    <img class="field pop" src="{{ MEDIA_URL }}img/configured.png" alt="{% trans "This module was configured by MSS." %}" />{% endif %}

                    {% if m.configured %}
                    <span class="actions">{% trans "Actions" %}
                        <div class="actions" style="display: none">
                            <div class="action">
                                <input class="action" type="checkbox" name="force-{{ m.id }}" id="force-{{ m.id }}" /><label for="force-{{ m.id }}">{% trans "Reinstall and reconfigure" %} <img class="field" src="{{ MEDIA_URL }}img/reconfigure.png" alt="({% trans "Reconfigure" %})" title="{% trans "Reconfigure this module." %}" /></label>
                            </div>
                        </div>
                    </span>
                    {% endif %}

                    <p class="desc">{{ m.desc|safe }}</p>

                    <p class="desc more">
                        {% if not m.access and m.infos.buy %}
                            <a href="{{ m.infos.buy }}" target="_blank">{% trans "Buy" %}</a>
                        {% endif %}
                        {% if m.infos.file %}
                            <a href="#{{ m.id }}_leightbox" rel="{{ m.id }}_leightbox" class="lbOn">{% trans "More information" %}</a>
                            <div id="{{ m.id}}_leightbox" class="leightbox">
                                <div class="lbHeader">
                                    <a class="lbAction button" rel="deactivate" href="#">Close</a>
                                </div>
                                <div class="lbContent">
                                    {% include m.infos.file %}
                                </div>
                            </div>
                        {% endif %}
                        {% if m.infos.url and not m.infos.file %}
                            <a href="{{ m.infos.url }}" target="_blank">{% trans "More information" %}</a>
                        {% endif %}
                    </p>

                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
            <script type="text/javascript">
                // set bundle height
                Event.observe(window, 'load', function() {
                    cur = $('{{ bundle.id }}');
                    prev = $('{{ bundle.id }}').previous();
                    if( cur.hasClassName("block-2") && !cur.hasClassName("block-clear") && prev.hasClassName("block-2")) {
                        if (prev.clientHeight > cur.clientHeight) {
                            cur.style.height = (prev.clientHeight-20)+"px";
                        }
                        else if (prev.clientHeight < cur.clientHeight) {
                            prev.style.height = (cur.clientHeight-20)+"px";
                        }
                    }
                });
            </script>
        </div>
    {% endfor %}
        <div class="validation">
            <input type="submit" value="{% trans "Install components" %}" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
{% endblock %}
