{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% if sections %}
    {% for section in sections %}
    <div class="block block-border {{ section.conf.class }}" id="{{ section.id }}">
        <div class="block-logo">
            {% if section.icon %}
            <img src="{{ MEDIA_URL }}img/modules/{{ section.icon }}" />
            {% endif %}
        </div>
        <div class="block-content">
            <h2>{% trans section.name %}</h2>
            <p class="desc">{% autoescape off %}{% trans section.desc %}{% endautoescape %}</p>
        </div>
        <form name="mss" action="{% url section section.id %}" method="post">
            <div class="validation right">
                <input type="submit" name="continue" value="{% trans "Enter" %} →" />
            </div>
        </form>
        <script type="text/javascript">
            // set section height
            Event.observe(window, 'load', function() {
                cur = $('{{ section.id }}');
                prev = $('{{ section.id }}').previous();
                if( cur.hasClassName("block-2") && !cur.hasClassName("block-clear") && prev.hasClassName("block-2")) {
                    if (prev.clientHeight > cur.clientHeight) {
                        cur.style.height = (prev.clientHeight-20)+"px";
                    }
                    else if (prev.clientHeight < cur.clientHeight) {
                        prev.style.height = (cur.clientHeight-20)+"px";
                    }
                }
            });
        </script>
    </div>
    {% endfor %}
{% else %}
    <div class="block block-height">
        <p class="error">{% trans "No modules for Mandriva Server Setup installed." %}</p>
        <p>{% trans "Check for mss-modules-* packages." %}</p>
    </div>
{% endif %}
{% endblock %}

