{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="block block-height">
    <h2>Configuration</h2>
    <p>{% trans "The selected modules doesn't have any configuration script." %}</p>
    <p>{% trans "Installation was succesful." %}</p>
    <form id="mss" name="mss" action="{% url sections %}" method="post">
        <div class="validation">
            <input id="next" type="submit" name="continue" value="{% trans "Home" %}" />
        </div>
    </form>
</div>
{% endblock %}
