{% extends 'base.html' %}
{% load mss_tags %}
{% load i18n %}
{% block content %}
<script type="text/javascript">
var network_cnt = 0;
var ip_cnt = 0;
function addNetwork(module, fieldname, ip, mask) {
    container = $(module+"_"+fieldname);
    network = new Element('div');
    ip_field = new Element('input', { 'name': module+"_"+fieldname+"_"+network_cnt+"_ip",
            'type':'text', 'size':'15', 'maxlength':'15', 'value': ip});
    network.appendChild(ip_field);
    network.appendChild(document.createTextNode(" / "));
    mask_field = new Element('input', { 'name': module+"_"+fieldname+"_"+network_cnt+"_mask",
            'type':'text', 'size':'15', 'maxlength':'15', 'value': mask});
    network.appendChild(mask_field);
    remove = new Element('a', {'title':'Remove network'}).update('<img src="{{ MEDIA_URL }}img/remove.png" />');
    remove.observe('click', function(){ this.parentNode.remove(); });
    network.appendChild(remove);
    container.appendChild(network);
    network_cnt++;
}
function addIP(module, fieldname, ip) {
    container = $(module+"_"+fieldname);
    network = new Element('div');
    ip_field = new Element('input', { 'name': module+"_"+fieldname+"_"+network_cnt+"_ip",
            'type':'text', 'size':'15', 'maxlength':'15', 'value': ip});
    network.appendChild(ip_field);
    remove = new Element('a', {'title':'Remove network'}).update('<img src="{{ MEDIA_URL }}img/remove.png" />');
    remove.observe('click', function(){ this.parentNode.remove(); });
    network.appendChild(remove);
    container.appendChild(network);
    ip_cnt++;
}
</script>
<div class="block block-height">
    <h2>Configuration</h2>
    <form action="{% url config_valid %}" method="post">
    {% for module, fields in config.items %}
        {% if fields %}
        <fieldset>
            <legend>{{ modules|key:module|key:"name" }}</legend>
            {% for field in fields %}
            <p class="field">
            {% ifequal field.type "text" %}        
                <label for="{{ module }}_{{ field.name }}">{{ field.label }} : </label>
                <input {% if field.error %}class="error"{% endif %} 
                       id="{{ module }}_{{ field.name }}" 
                       name="{{ module }}_{{ field.name }}" 
                       type="text" size="20" value="{{ field.default }}" 
                />
            {% endifequal %}
            {% ifequal field.type "password" %}        
                <label for="{{ module }}_{{ field.name }}">{{ field.label }} : </label>
                <input {% if field.error %}class="error"{% endif %} 
                       id="{{ module }}_{{ field.name }}" 
                       name="{{ module }}_{{ field.name }}" 
                       type="password" size="20" value="{{ field.default }}"
                />
                <label for="{{ module }}_{{ field.name }}2">{% trans "Re-enter password" %} : </label>
                <input {% if field.error %}class="error"{% endif %} 
                       id="{{ module }}_{{ field.name }}2" 
                       name="{{ module }}_{{ field.name }}2" 
                       type="password" size="20"
                />
            {% endifequal %}
            {% ifequal field.type "options" %}
                <label for="{{ module }}_{{ field.name }}">{{ field.label }} : </label>
                <select {% if field.error %}class="error"{% endif %}
                        id="{{ module }}_{{ field.name }}" 
                        name="{{ module }}_{{ field.name }}">
                    {% for option in field.options %}
                    <option value="{{ option.value }}" 
                            {% ifequal option.value field.default %}selected="selected"{% endifequal %}>
                        {{ option.name }}
                    </option>
                    {% endfor %}
                </select>
            {% endifequal %}
            {% ifequal field.type "network" %}
                <label for="{{ module }}_{{ field.name }}">{{ field.label }} : </label>
                <a title="{% trans "Add network"%}" onclick="addNetwork('{{ module }}', '{{ field.name }}', '', '')" ><img src="{{ MEDIA_URL }}img/network_add.png" /></a>
                <span id="{{ module }}_{{ field.name }}" name="{{ module }}_{{ field.name }}">
                </span>                
                {% if field.default %}
                    <script type="text/javascript">
                    {% for network in field.default %}
                        addNetwork('{{ module }}', '{{ field.name }}', '{{ network.0 }}', '{{ network.1 }}');
                    {% endfor %}
                    </script>
                {% endif %}
            {% endifequal %}
            {% ifequal field.type "ip" %}
                <label for="{{ module }}_{{ field.name }}">{{ field.label }} : </label>
                <a title="{% trans "Add IP"%}" onclick="addIP('{{ module }}', '{{ field.name }}', '')" ><img src="{{ MEDIA_URL }}img/network_add.png" /></a>
                <span id="{{ module }}_{{ field.name }}" name="{{ module }}_{{ field.name }}">
                </span>                
                {% if field.default %}
                    <script type="text/javascript">
                    {% for ip in field.default %}
                        addIP('{{ module }}', '{{ field.name }}', '{{ ip }}');
                    {% endfor %}
                    </script>
                {% endif %}
            {% endifequal %}            
            {% if field.error %}
            <span class="error">
                {{ field.error }}
            </span>
            {% endif %}        
            </p>
            {% if field.help %}
            <p class="help">
                {{ field.help }}
            </p>
            {% endif %}
            {% endfor %}
        </fieldset>
        {% endif %}
    {% endfor %}
        <div class="validation">
            <input type="submit" name="continue" value="{% trans "Continue" %}" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
</div>
{% endblock %}
