{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% ifequal mode "run" %}
<script type="text/javascript">
    var modules = new Array({% for m in modules %}{% if not m.skip_config %}'{{ m.id }}'{% if not forloop.last %},{% endif %}{% endif %}{% endfor %});
    var current_module = 0;
    var updater = "";

    scrollLog = function() {
        $$('.log').each(function(i){ i.scrollTop = i.scrollHeight });
    }

    nextmodule = function() {
        current_module++;
        if(modules[current_module]) {
            show_log = false;
            runconfig();
        }
        else {
            $("next").value = "{% trans "Home page" %}";
            $("summary").update("{% trans "Configuration terminated, details are displayed below." %}");
            $$("#mss input").each(function(i){ i.disabled = false; });
        }
    }

    checkconfig = function() {
        updater = new Ajax.PeriodicalUpdater(current_install, '/mss/config/state/'+modules[current_module]+'/', {
            frequency: 1,
            decay: 2,
            method: 'get',
            parameters: { 'show_log': show_log },
            evalScripts: true,
        });
    }

    stopconfig = function() {
        $("next").value = "{% trans "Home page" %}";
        $("next").disabled = false;
        $("summary").update("{% trans "Configuration terminated, details are displayed below." %}");
        $(modules[current_module]).down().next('div.install').down().update("{% trans "Could not find any configuration script to execute." %}");
    }

    runconfig = function() {
        current_install = $$("#"+modules[current_module]+" .install")[0];
        new Ajax.Request('/mss/config/run/'+modules[current_module]+'/', {
            method: 'get',
            onSuccess: checkconfig,
            on404: stopconfig,
        });
    }

    Event.observe(window, 'load', function() {
        runconfig();
    });
</script>
{% endifequal %}
<div class="block block-height">
    <h2>Configuration</h2>
    
    {% ifequal mode "start" %}
    <p>{% trans "The following modules will be configured. Please wait during the configuration process." %}</p>
    <p>{% trans "To run the configuration, click on the &laquo;Run configuration&raquo; button below." %}</p>
    {% endifequal %}

    {% ifequal mode "run" %}
    <p id="summary">{% trans "Configuration in progress..." %}</p>
    {% endifequal %}

    {% for m in modules %}
        <fieldset id="{{ m.id }}">
            <legend>{{ m.name }}</legend>
            <p class="desc">{{ m.desc }}</p>
            {% ifequal mode "run" %}
            <div class="install">
                {% if m.skip_config %}
                <p class="task">{% trans "No configuration for this module." %}</p>
                <script type="text/javascript">
                    new Ajax.Request('/mss/config/end/{{ m.id }}/', {
                    method: 'get',
                });
                </script>
                {% else %}
                <p class="task">{% trans "Waiting..." %}</p>
                <div class="log_button"><input type="button" value="{% trans "Show log" %}" onclick="toggleLog(this)"/></div>
                <div class="log" style="display: none;"> </div>
                {% endif %}
            </div>
            {% endifequal %}
        </fieldset>
    {% endfor %}

    {% ifequal mode "start" %}
    <form id="mss" name="mss" action="{% url config_start %}" method="post">
        <div class="validation">
            <input type="submit" name="continue" value="{% trans "Run configuration" %}" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
    {% endifequal %}

    {% ifequal mode "run" %}
    <form id="mss" name="mss" action="{% url sections %}" method="post">
        <div class="validation">
            <input id="next" type="submit" name="continue" value="{% trans "Please wait..." %}" disabled="disabled" />
        </div>
    </form>
    {% endifequal %}
</div>
{% endblock %}
