{% extends 'base.html' %}
{% load mss_tags %}
{% load i18n %}
{% block content %}
<script type="text/javascript">
var field_cnt = 0;
function addNetwork(module, fieldname, ip, mask) {
    container = $(module+"_"+fieldname);
    network = new Element('div', {'class': 'field_multi'});
    ip_field = new Element('input', { 'name': module+"_"+fieldname+"_"+field_cnt+"_ip",
            'type':'text', 'size':'15', 'maxlength':'15', 'value': ip});
    network.appendChild(ip_field);
    network.appendChild(document.createTextNode(" / "));
    mask_field = new Element('input', { 'name': module+"_"+fieldname+"_"+field_cnt+"_mask",
        'type':'text', 'size':'15', 'maxlength':'15', 'value': mask});
    network.appendChild(mask_field);
    remove = new Element('a', {'title':'Remove network'}).update('<img class="field" src="{{ MEDIA_URL }}img/remove.png" />');
    remove.observe('click', function(){ this.parentNode.remove(); });
    network.appendChild(remove);
    container.appendChild(network);
    field_cnt++;
}
function addField(module, fieldname, text) {
    container = $(module+"_"+fieldname);
    field = new Element('div', {'class': 'field_multi'});
    input = new Element('input', { 'name': module+"_"+fieldname+"_"+field_cnt+"_field",
            'type':'text', 'value': text});
    field.appendChild(input);
    remove = new Element('a', {'title':'Remove field'}).update('<img class="field" src="{{ MEDIA_URL }}img/remove.png" />');
    remove.observe('click', function(){ this.parentNode.remove(); });
    field.appendChild(remove);
    container.appendChild(field);
    field_cnt++;
}
</script>
<div class="block block-height">
    <h2>Configuration</h2>
    <form action="{% url config_valid %}" method="post">
    {% for module in config %}
        <fieldset>
            {% for m in modules %}
                {% ifequal module.0.id m.id %}
            <legend>{{ m.name }}</legend>
                {% endifequal %}
            {% endfor %}
            {% for field in module %}
            <p class="field">
            {% ifequal field.type "text" %}        
                <label for="{{ field.id }}_{{ field.name }}">{{ field.label }} : </label>
                {% if field.multi %}
                <a title="{% trans "Add field"%}" onclick="addField('{{ field.id }}', '{{ field.name }}', '')"><img class="field" src="{{ MEDIA_URL }}img/add.png" /></a>
                <span id="{{ field.id }}_{{ field.name }}" name="{{ field.id }}_{{ field.name }}">
                </span>
                {% if field.default %}
                <script type="text/javascript">
                {% for text in field.default %}
                    addField('{{ field.id }}', '{{ field.name }}', '{{ text }}');
                {% endfor %}
                </script>
                {% endif %}
                {% else %}
                <input {% if field.error %}class="error"{% endif %} 
                       id="{{ field.id }}_{{ field.name }}" 
                       name="{{ field.id }}_{{ field.name }}" 
                       type="text" size="20" value="{{ field.default }}" 
                />
                {% endif %}
            {% endifequal %}
            {% ifequal field.type "password" %}        
                <label for="{{ field.id }}_{{ field.name }}">{{ field.label }} : </label>
                <input {% if field.error %}class="error"{% endif %} 
                       id="{{ field.id }}_{{ field.name }}" 
                       name="{{ field.id }}_{{ field.name }}" 
                       type="password" size="20" value="{{ field.default }}"
                />
                <label for="{{ field.id }}_{{ field.name }}2">{% trans "Re-enter password" %} : </label>
                <input {% if field.error %}class="error"{% endif %} 
                       id="{{ field.id }}_{{ field.name }}2" 
                       name="{{ field.id }}_{{ field.name }}2" 
                       type="password" size="20"
                />
            {% endifequal %}
            {% ifequal field.type "options" %}
                <label for="{{ field.id }}_{{ field.name }}">{{ field.label }} : </label>
                <select {% if field.error %}class="error"{% endif %}
                        id="{{ field.id }}_{{ field.name }}" 
                        name="{{ field.id }}_{{ field.name }}">
                    {% for option in field.options %}
                    <option value="{{ option.value }}" 
                            {% ifequal option.value field.default %}selected="selected"{% endifequal %}>
                        {{ option.name }}
                    </option>
                    {% endfor %}
                </select>
            {% endifequal %}
            {% ifequal field.type "network" %}
                <label for="{{ field.id }}_{{ field.name }}">{{ field.label }} : </label>
                <a title="{% trans "Add network"%}" onclick="addNetwork('{{ field.id }}', '{{ field.name }}', '', '')" ><img class="field" src="{{ MEDIA_URL }}img/add.png" /></a>
                <span id="{{ field.id }}_{{ field.name }}" name="{{ field.id }}_{{ field.name }}">
                </span>                
                {% if field.default %}
                    <script type="text/javascript">
                    {% for network in field.default %}
                        addNetwork('{{ field.id }}', '{{ field.name }}', '{{ network.0 }}', '{{ network.1 }}');
                    {% endfor %}
                    </script>
                {% endif %}
            {% endifequal %}
            {% if not field.type %}
                {% trans "No configuration for this module." %}
            {% endif %}
            {% if field.error %}
            <span class="error">
                {{ field.error }}
            </span>
            {% endif %}        
            </p>
            {% if field.help %}
            <p class="help">
                {{ field.help }}
            </p>
            {% endif %}
            {% endfor %}
        </fieldset>
    {% endfor %}
        <div class="validation">
            <input type="submit" name="continue" value="{% trans "Continue" %}" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
</div>
{% endblock %}
