{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="block block-height block-center">
    <h2>{% trans "Mandriva Server Setup" %}</h2>
    <p>{% blocktrans %}Welcome on the Mandriva Server Setup. MSS aims to help system
    administrators to setup quickly system services such as DNS and OpenLDAP.
    Moreother, MSS allows you to setup <a href="http://mds.mandriva.org">Mandriva 
    Directory Server</a> and <a href="http://pulse2.mandriva.org">Pulse 2</a>
     products easily.{% endblocktrans %}</p>
    <p><strong>{% trans "You can login with your root password." %}</strong></p>
    <fieldset>
        <legend>Login</legend>
    {% include 'login_form.html' %}
    </fieldset>
</div>
{% endblock %}
