{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<script type="text/javascript">
    scrollLog = function() {
        $('log').scrollTop = $('log').scrollHeight;
    }
    updater = new Ajax.PeriodicalUpdater("log", "{% url install_state %}", {
        frequency: 2,
        decay: 2,
        evalScripts: true,
        on200: scrollLog,
    });
</script>
<div class="block block-height">
    <h2>{% trans "Installation" %}</h2>
    <p>{% trans "The following modules are beeing install" %} :
    {% for module, values in modules.items %}
        <strong>{{ values.name }}</strong>{% if not forloop.last %},{% endif %}
    {% endfor %}</p>
    <div class="install">
        <p id="task" class="task">{% trans "Please wait..." %} <img src="/site_media/img/loader.gif" /></p>
        <div class="log_button"><input type="button" value="{% trans "Show log" %}" onclick="toggleLog(this)"/></div>
        <div id="log" class="log" style="display: none;"> </div>
    </div>
    <form id="mss" name="mss" action="{% url config %}" method="post">
        <div class="validation">
            <input id="next" type="submit" name="continue" value="{% trans "Please wait..." %}" disabled="disabled" />
            <input id="back" type="button" value="{% trans "Back" %}" disabled="disabled" />
        </div>
    </form>
</div>
{% endblock %}
