{% extends 'base.html' %}
{% load mss_tags %}
{% load i18n %}
{% block content %}
    <form name="mss" action="{% url preinst %}" method="post">
    {% for bundle in section %}
        <div class="block block-border {{ bundle.conf.class }}">
            <div class="block-logo">
                <img src="{{ MEDIA_URL }}img/{{ bundle.icon }}" />
            </div>
            <div class="block-content">
                <div class="head">
                    <h2>{% trans bundle.name %}</h2>
                    <p class="desc">{% trans bundle.desc %}</p>
                </div>
                <div class="detail">
                {% for module in bundle.modules %}
                    {% for m in modules %}
                        {% ifequal m.id module %}
                    <input type="checkbox" name="{{ m.id }}" id="{{ m.id }}" 
                        {% comment %}{% if m.install %}checked="checked" 
                        disabled="disabled"{% endif %}{% endcomment %}
                    <label for="{{ m.id }}">{{ m.name }}</label>
                    {% if m.install %}({% trans "Installed" %}){% endif %}
                    <p class="desc">{{ m.desc|safe }}</p>
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="validation">
            <input type="submit" value="{% trans "Install components" %}" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
{% endblock %}
