{% extends 'base.html' %}
{% load mss_tags %}
{% load i18n %}
{% block content %}
    <form name="mss" action="{% url preinst %}" method="post">
    {% for bundle in section %}
        <div class="block block-border {{ bundle.conf.class }}">
            <div class="block-logo">
                <img src="{{ MEDIA_URL }}img/{{ bundle.icon }}" />
            </div>
            <div class="block-content">
                <div class="head">
                    <h2>{% trans bundle.name %}</h2>
                    <p class="desc">{% trans bundle.desc %}</p>
                </div>
                <div class="detail">
                {% for module in bundle.modules %}
                    {% for m in modules %}
                        {% ifequal m.id module %}
                    <input type="checkbox" name="{{ m.id }}" id="{{ m.id }}" 
                        {% if m.configured %}checked="checked" 
                        disabled="disabled"{% endif %}
                    <label {% if m.configured %}class="configured"{% endif %} for="{{ m.id }}">{{ m.name }}</label>
                    {% if m.installed %}<img class="field" src="{{ MEDIA_URL }}img/installed.png" alt="({% trans "Installed" %})" title="{% trans "Packages for this module are already installed." %}" />{% endif %}
                    {% if m.configured %}
                    <img class="field" src="{{ MEDIA_URL }}img/configured.png" alt="({% trans "Configured" %})" title="{% trans "This module is already configured." %}" />
                    {% endif %}
                    {% if m.configured %}
                    <span class="actions">{% trans "Actions" %}
                        <div class="actions" style="display: none">
                            <div class="action">
                                <input class="action" type="checkbox" name="force-{{ m.id }}" id="force-{{ m.id }}" /><label for="force-{{ m.id }}">{% trans "Reinstall and reconfigure" %} <img class="field" src="{{ MEDIA_URL }}img/reconfigure.png" alt="({% trans "Reconfigure" %})" title="{% trans "Reconfigure this module." %}" /></label>
                            </div>
                        </div>
                    </span>
                    {% endif %}
                    <p class="desc">{{ m.desc|safe }}</p>
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="validation">
            <input type="submit" value="{% trans "Install components" %}" />
            <input type="button" id="back" value="{% trans "Back" %}" />
        </div>
    </form>
{% endblock %}
